<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Table Hackathon

    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Hackathon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/services" role="button" data-bs-toggle="dropdown" aria-expanded="false">
Services
</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/services">Noob</a></li>
                            <li><a class="dropdown-item" href="#">Pro</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">-</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
<table class="table">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Ticket ID</th>
            <th scope="col">Ticket Type</th>
            <th scope="col">Request Seniority</th>
            <th scope="col">Severity</th>
            <th scope="col">Filed Against</th>
            <th scope="col">DaysOpen</th>
            <th scope="col">Priority</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <tr>
                <th scope="row">1</th>
                <td>TI1002</td>
                <td>Request</td>
                <td>Junior</td>
                <td>Critical</td>
                <td>Software</td>
                <td>10</td>
                <td>very high</td>
            </tr>
            <tr>
                <tr>
                    <th scope="row">2</th>
                    <td>TI1012</td>
                    <td>Request</td>
                    <td>Management </td>
                    <td>Critical</td>
                    <td>Hardware</td>
                    <td>8</td>
                    <td>very high</td>
                </tr>
                <tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>TI1034</td>
                        <td>Issue</td>
                        <td>Junior</td>
                        <td>Critical</td>
                        <td>Access/Login</td>
                        <td>6</td>
                        <td>very high</td>
                    </tr>
                    <tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>TI1045</td>
                            <td>Request</td>
                            <td>Junior</td>
                            <td>Critical</td>
                            <td>System</td>
                            <td>7</td>
                            <td>very high</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>TI1000</td>
                            <td>Issue</td>
                            <td>Senior</td>
                            <td>Minor</td>
                            <td>Software</td>
                            <td>7</td>
                            <td>high</td>
                        </tr>
                        <th scope="row">6</th>
                        <td>TI203</td>
                        <td>Request</td>
                        <td>Junior</td>
                        <td>Normal</td>
                        <td>Hardware</td>
                        <td>8</td>
                        <td>normal</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>TI513</td>
                        <td>Issue</td>
                        <td>Senior</td>
                        <td>Low</td>
                        <td>Software</td>
                        <td>6</td>
                        <td>normal</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>TI523</td>
                        <td>Request</td>
                        <td>Management</td>
                        <td>Low</td>
                        <td>Software</td>
                        <td>5</td>
                        <td>normal</td>
                    </tr>

                    <th scope="row">9</th>
                    <td>TI492</td>
                    <td>Request</td>
                    <td>Senior</td>
                    <td>Normal</td>
                    <td>Software</td>
                    <td>4</td>
                    <td>normal</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>TI190</td>
                    <td>Issue</td>
                    <td>Management</td>
                    <td>Minor</td>
                    <td>Access/Login</td>
                    <td>1</td>
                    <td>low</td>
                </tr>

                <tr>
                    <th scope="row">11</th>
                    <td>TI162</td>
                    <td>Issue</td>
                    <td>Regular</td>
                    <td>Minor/td>
                        <td>Software</td>
                        <td>1</td>
                        <td>low</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>TI162</td>
                    <td>Issue</td>
                    <td>Regular</td>
                    <td>Normal</td>
                    <td>Software</td>
                    <td>1</td>
                    <td>low</td>
                </tr>
                <tr>
    </tbody>
</table>

</html>