<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ PAGE</title>
    {% load static %}
    <link href="{% static 'FAQ.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>

        <h1 class="faq-heading">FAQ'S</h1>
        <section class="faq-container">
            <div class="faq-one">

                <!-- faq question -->
                <h1 class="faq-page">Why is my ticket taking so long to resolve?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>The reason for the delay could either be that the staff is dealing with other tickets as well or maybe your problem isn't that severe!
                    </p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-two">

                <!-- faq question -->
                <h1 class="faq-page">What is the use of this tool?</h1>

                <!-- faq answer -->

                <div class="faq-body">
                    <p>This tool as the name suggests is a ticketing tool with which you can either open a ticket to get your problems resolved or can be used by various companies to resolve their customer's problems!
                    </p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="faq-three">

                <!-- faq question -->
                <h1 class="faq-page">Is the tool free of cost?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>The tool is completely free of cost for the users who don't want to pay for it but there is also a premium service available which provides you with some great features!
                    </p>
                </div>
            </div>
            <!-- faq question -->
            <hr class="hr-line">
            <h1 class="faq-page">How should i contact your customer support?</h1>

            <!-- faq answer -->
            <div class="faq-body">
                <p>To contact the customer support you can go to the home page our website and from there you can use the bot to contact our customer services!
                </p>
            </div>
            </div>
            <hr class="hr-line">
            <!-- faq question -->
            <h1 class="faq-page">Where to buy the premium?</h1>

            <!-- faq answer -->
            <div class="faq-body">
                <p>You can refer to our home page or directly click on the link https://www.Yourwebsitename.com/premium for purchasing the premium subscription!
                </p>
            </div>
            </div>
            <hr class="hr-line">

        </section>
    </main>
    <script src="{% static 'FAQ.js' %}"></script>
</body>


</html>