<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="{% static 'user.css'%}">
    <title>Document</title>

</head>

<body>

    <div class="container">
        <ul>
            <li><img></li>
            <li><a href="/home/About">About</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </div>

    <div class="cards-list">

        <div class="card 1">
            <div class="card_image"> <img src="https://media.tenor.com/GatgiKWdlY8AAAAC/hand-apple.gif" /> </div>
            <div class="card_title title-white">
                <p><br>
                    <a href="/home/File ticket" target="_blank"> File Ticket </a></p>
            </div>
        </div>

        <div class="card 2">
            <div class="card_image">
                <img src="https://xitij19.files.wordpress.com/2019/08/faq.gif ">
            </div>
            <div class=" card_title title-white ">
                <a href="/home/FAQ " target="_blank "> Frequently Asked Questions </a>
            </div>
        </div>
        <div class="card 2 ">
            <div class="card_image ">
                <img src="https://cdn.dribbble.com/users/954301/screenshots/5659655/ux-audit.gif" />
            </div>
            <div class="card_title title-white ">
                <a href="File ticket/Ticket History " target="_blank "> Ticket History </a>
            </div>
        </div>
        <div class="card 2 ">
            <div class="card_image ">
                <img src="https://assets.materialup.com/uploads/4eed88b0-0442-489c-9ba0-7f0ca763367f/preview.gif" />
            </div>
            <div class="card_title title-white ">
                <p>Discuss with others</p>
            </div>
        </div>
        <div class="card 2 ">
            <div class="card_image ">
                <img src="https://cdn.dribbble.com/users/291221/screenshots/1425333/helper.gif" />
            </div>
            <div class="card_title title-white ">
                <p>Customer Care Chat</p>
            </div>
        </div>

    </div>

    <p class="cp-text ">
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp © Copyright 2023 JKoders
    </p>
</body>

</html>